= form_for @issue, url: public_update_path, method: 'patch' do |f| 
  - if @issue.errors.any? 
    #error_explanation
      %h2= pluralize(@issue.errors.count, "error") + 'prohibited this issue from being saved:'

      %ul
      - @issue.errors.full_messages.each do |message|
        %li= message

  .field.leftside
    = f.label :assigned_to_id
    %h3=  @issue.assigned_to.name unless @issue.assigned_to.nil?
  .field.rightside
    = f.label :subject
    = "'#{@issue.subject}'"
  .field.rightside
    %label Message
    %textarea{ rows: 6, name: 'issue[message]'}
  .actions
    = f.submit
